<nav>
    <!--    <div class="logo"><img src="application/img/knutm.png"></img>
    </div>-->
    <div class="row">
        <a href="#about" class="col-xs-3 col-md-offset-1" du-smooth-scroll du-scrollspy>
            <div class="navicon"><i class="fa fa-user-o"></i></div>
            <br><span>About</span></a>
        <a href="#skill-set" class="col-xs-3 col-md-offset-1" du-smooth-scroll du-scrollspy>
            <div class="navicon"><i class="fa fa-code"></i></div>
            <br>Skill Set</a>
        <a href="#projects" class="col-xs-3 col-md-offset-1" du-smooth-scroll du-scrollspy>
            <div class="navicon"><i class="fa fa-user-o"></i></div>
            <br>Portfolio</a>
        <a href="#contact" class="col-xs-3 col-md-offset-1" du-smooth-scroll du-scrollspy>
            <div class="navicon"><i class="fa fa-user-o"></i></div>
            <br>Contact</a>
    </div>
</nav>