<nav>
    <div class="logo"><img src="application/img/knutm.png"></img>
    </div>
    <div><a href="#about" du-smooth-scroll du-scrollspy>About</a></div>
    <div><a href="#experience" du-smooth-scroll du-scrollspy>Experience</a></div>
    <div><a href="#education" du-smooth-scroll du-scrollspy>Education</a></div>
    <div><a href="#skill-set" du-smooth-scroll du-scrollspy>Skill Set</a></div>
    <div><a href="#projects" du-smooth-scroll du-scrollspy>Portfolio</a></div>
    <div><a href="#contact" du-smooth-scroll du-scrollspy>Contact</a></div>
    <!--    <div><a href="#about">About</a></div>-->
    <!--<i class="fa fa-user-o fa-lg"></i>-->
    <!--    <div><a href="#Competencies">Competencies</a></div>-->
    <!--<i class="fa fa-code fa-lg"></i>-->
    <!--    <div><a href="#contact">Contact</a></div>-->
    <!--<i class="fa fa-pencil fa-lg"></i>-->
    <!--    <div><a href="#processes">Process</a></div>-->
    <!--<i class="fa fa-line-chart fa-lg"></i>-->
</nav>