<nav role='navigation' class="main-nav" id="main-nav">
    <ul id="main-nav-list">
        <li>
            <a href="#!/view1">
                <div>
                    Home
                </div>
            </a>
        </li>
        <li>
            <a href="#!/view2">
                <div>
                    About
                </div>
            </a>
        </li>
        <div class="logo">
            <img></img>
        </div>
        <li>
            <a href="#!/view2">
                <div>
                    Processes
                </div>
            </a>
        </li>
        <li>
            <a href="#!/view2">
                <div>
                    Contact
                </div>
            </a>
        </li>
    </ul>
</nav>