<div class="row bio">
    <div class="col-md-5">

        <div class="bio-img-container"><img src="application/img/knutm.png"></img>
        </div>
    </div>
    <div class="col-md-7">
        <h2 class="big-text display-serif">Hi. I'm Knut!</h2>
        <div class="line"></div>
        <p> I'm a web designer / developer based in Sweden. <br> I have a big passion for <strong>web</strong>, which has lead to great opportunities working both as a freelance design consultant and as a web programmer.
        </p>
    </div>


</div>
<div class="process row">
    <div class="dots col-md-12">
        <p>Fullstack designer:</p>
    </div>
    <div class="col-md">
        <div class="hole hole-1 graphic"></div>
        <h1 class="text display-serif"> User Experience </h1>
        <p>I love UX. <br> Understanding the user is vital for a good end product. This is something I try to do as much as I can in my various processes.
        </p>

    </div>
    <div class="col-md">
        <div class="hole hole-2 graphic"></div>
        <h1 class="text display-serif"> Web Design </h1>
        <p>I like to keep it simple.<br> My goals are to focus on aesthetics, performance and the end-user. I'm a strong believer in pixel perfection.</p>
    </div>

    <div class="col-md">
        <div class="hole hole-3 graphic"></div>
        <h1 class="text display-serif"> Web Development </h1>
        <p>With my countless hours of coding I have acquired experiences in developing smaller corporate sites as well as large progressive web applications with high production standards.</p>
    </div>
</div>
<div>