<div class="row">
    <div class="col">
        <h1 class="prime-colored gigantic display-serif"> I'm passionate about
            <hl>improvment.</hl>
        </h1>
    </div>
</div>
<div class="row">
    <div class="col-md-5">

        <div class="bio"><img src="application/img/knutm.png"></img>
        </div>
    </div>
    <div class="col-md-7">
        <h2 class="big-text">Hi. I'm <strong class="white">Knut</strong>.</h2>
        <div class="line"></div>
        <br>
        <p> I'm a web designer / developer based in Sweden. <br>I have a big passion for <strong>web</strong>, leading to working both as a freelance design consultant and as a web programmer.
        </p>
        <p> </p>
    </div>


</div>

<div class="process row">
    <div class="dots col-md-12">
        <p>What I do:</p>
    </div>
    <div class="col-md">
        <div class="hole hole-1 graphic"></div>
        <h1 class="text"> User Experience </h1>
        <p>I love UX. <br> Understanding the user is vital for a good end product. This is something I try to do as much as I can in my various processes.
        </p>

    </div>
    <div class="col-md">
        <div class="hole hole-2 graphic"></div>
        <h1 class="text"> Web Design </h1>
        <p>I like to keep it simple.<br> My goals are to focus on estetics, performance and the end-user.And i'm also a strong beliver in pixel perfection.</p>
    </div>
    <div class="col-md">
        <div class="hole hole-3 graphic"></div>
        <h1 class="text"> Web Development </h1>
        <p>Doing countless hours of coding, <br> I have experience in developing smaller corporate sites aswell as large progressive web applications with high production standards.</p>
    </div>
</div>
<div>