<div class="row">
    <div class="col">
        <h1 class="prime-colored gigantic display-serif"> I'm passionate about
            <hl>improvment.</hl>
        </h1>
    </div>
</div>
<div class="row">
    <div class="col-md-7">
        <h2 class="big-text"> My name is <strong class="white">Knut Monason</strong>. I made this site.</h2>
        <div class="line"></div>
        <br>

        <h2>
            <h2>I design and develop </h2>
            <h2> Currently stationed in <strong>Sweden.</strong> I recently graduated with a <strong>Bachelor degree</strong> in <strong> Digital Media Production.</strong>
                <h2>
                    With the knowledge that I gained from my education and years of creative work, I'm now <strong>freelancing</strong> creating <strong>websites</strong> for companies both <strong>locally</strong> & <strong>globally!</strong></h2>
            </h2>
    </div>
    <div class="col-md-5">

        <div class="bio"><img src="application/img/knutm.png"></img>
        </div>
    </div>

</div>

<h1 class="prime-colored ">What I do</h1>
<h2>
    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam in massa elementum, faucibus lorem et, hendrerit urna. Duis sollicitudin, diam ut dapibus tincidunt, justo lacus malesuada felis, vitae semper nisl ex cursus erat. Morbi non sem eu lorem pretium
    luctus. Fusce rutrum, velit quis finibus feugiat, ex dui finibus risus, venenatis ornare dolor nibh nec turpis. Cras hendrerit lacus mauris, eget dapibus neque egestas et. Sed purus nulla, pellentesque non dui in, sagittis vestibulum velit. Donec
    eget ultrices odio.
</h2>

<div class="process row">
    <div class="col-md">
        <div class="hole hole-1 graphic"></div>
        <h1 class="text"> Research </h1>
        <h2>Understanding the user is the key of making a usable website. Therefor good <strong>research and testing</strong> is an good investment. This is something I build my designs around, striving for a <strong>better end user experience</strong>.</h2>
    </div>
    <div class="col-md">
        <div class="hole hole-2 graphic"></div>
        <h1 class="text"> Design </h1>
        <h2>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam in massa elementum, faucibus lorem et, hendrerit urna. Duis sollicitudin, diam ut dapibus tincidunt, justo lacus malesuada felis, vitae semper nisl ex cursus erat. Morbi non sem eu
            lorem pretium luctus.
        </h2>
    </div>
    <div class="col-md">
        <div class="hole hole-3 graphic"></div>
        <h1 class="text"> Development </h1>
        <h2>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam in massa elementum, faucibus lorem et, hendrerit urna. Duis sollicitudin, diam ut dapibus tincidunt, justo lacus malesuada felis, vitae semper nisl ex cursus erat. Morbi non sem eu
            lorem pretium luctus.
        </h2>
    </div>
</div>
<div>

    <div class="section-content">
        <h1>Work Experience:</h1>
        <div class="line"></div>
        <h2>Front end programmer at Infor Sweden | 2016.10-2017.04 </h2>
        <h2>Creative / Web Freelancer | 2015- </h2>
    </div>
    <div class="section-content">
        <h1>Education:</h1>
        <div class="line"></div>
        <h2>Bachelor degree in Digital Media Production| Umeå Univerity | 2013-2016 </h2>

        <h2>Code School | JavaScript & AngularJS Online Corses | 2016.11 - 2017.04 </h2>
    </div>