<div class="section-content">
    <h1>Education:</h1>
    <h2>Bachelor degree in Digital Media Production| Umeå Univerity| 2013-2016 </h2>
    <div class="flex">
        <div class="left">
        </div>
        <div class="right">
        </div>
    </div>
    <div class="card">
        <div class="title">
            <div class="hole hole-1"></div>
            <h2>User experience</h2>
        </div>
        <div class="card-text">
            <!--            <p>
                Designing user-interfaces and understanding theories around user-experience. And a whole lot of user testing and evaluation
                of applications!
            </p>-->
        </div>
    </div>

    <div class="card">
        <div class="title">
            <div class="hole hole-2"></div>
            <h2>Web development</h2>
        </div>
        <div class="card-text">
            <!--            <p>
                Designing web applications and developing them with CSS, HTML, Javascript/Jquery.
            </p>-->
        </div>
    </div>

    <div class="card">
        <div class="title">
            <div class="hole hole-3"></div>
            <h2>IT development and Innovation</h2>
        </div>
        <div class="card-text">
            <!--            <p>
                Understanding team development, project scoping, developing management and company innovation strategies at masters degree
                level.
            </p>-->
        </div>
    </div>

    <div class="card">
        <div class="title">
            <div class="hole hole-4"></div>
            <h2>Graphical design and design theory</h2>
        </div>
        <div class="card-text">
            <!--            <p>
                Creating digital art such as brands, posters and mockups. Studying design theories and principles.
            </p>-->
        </div>
    </div>
    <h2>Code School | JavaScript & AngularJS Online Corses | 2016.11 - 2017.04 </h2>
</div>