<div class="section-content">
    <h1 class="title display-serif">Work Experience:</h1>
    <div class="line"></div>
    <ul>
        <h2>
            <li>
                Front end programmer at Infor Sweden | 2016.10-2017.04

            </li>
            <li>
                Creative / Web Freelancer | 2015-
            </li>
        </h2>
    </ul>

</div>
<div class="section-content">
    <h1 class="title display-serif">Education:</h1>
    <div class="line"></div>
    <ul>
        <h2>
            <li>
                Bachelor degree in Digital Media Production | University of Umeå | 2013-2016
            </li>
            <li>
                Code School | JavaScript & AngularJS Online Courses | 2016.11 - 2017.04
            </li>
        </h2>

</div>