<div class="section-content">
  <h1 class="white">Work Experience:</h1>
  <div class="line"></div>
  <ul>
    <li>
      <p>Front end programmer at Infor Sweden | 2016.10-2017.04
      </p>
    </li>
    <li>
      <p>Creative / Web Freelancer | 2015- </p>
    </li>
  </ul>

</div>
<div class="section-content">
  <h1 class="white">Education:</h1>
  <div class="line"></div>
  <ul>
    <li>
      <p>Bachelor degree in Digital Media Production | University of Umeå | 2013-2016 </p>
    </li>
    <li>
      <p>Code School | JavaScript & AngularJS Online Courses | 2016.11 - 2017.04 </p>
    </li>
</div>
