<div ng-controller="projectCtrl" class="section-content ">
    <h1 class="title display-serif portfolio-title-text"> Selected web projects: </h1>
    <a href="https://www.behance.net/Knute" target="_blank" class="more-work" title="Behance">
        <h2>
            More on my Behance
        </h2>
    </a>

    <div class="cases">
        <div class="row">
            <a href="index.html#/project1" id="case1" class="case col-md collapse">
                <div class="case-img-parent">
                    <img src="application/img/drannashow.png"></img>
                </div>
                <div class="case-information ">
                    <h1>DoktorAnna.se</h1>
                    <h2>Website + brand</h2>
                    <h3>Click to view</h3>
                </div>
            </a>
            <a ng-href="#/project2" id="case2" class="case col-md collapse">
                <div class="case-img-parent">
                    <img src="application/img/kmshow.png"></img>
                </div>
                <div class="case-information ">
                    <h1>Portfolio 2016</h1>
                    <h2>Website + brand</h2>
                    <h3>Click to view</h3>
                </div>
            </a>
            <a ng-href="#/project3" id="case2" class="case col-md collapse">
                <div class="case-img-parent">
                    <img src="application/img/km2017.png"></img>
                </div>
                <div class="case-information ">
                    <h1>Portfolio 2017 / This site</h1>
                    <h2>Website</h2>
                    <h3>Click to view</h3>
                </div>
            </a>
        </div>
    </div>
</div>
