<div class="section-content ">
    <h1> Selected projects: </h1>

    <div class="cases" ng-controller="projectCtrl">
        <div class="row">
            <div class="col-md-6">
                <div href="https://www.behance.net/Knute" id="case1" class="case collapse">
                    <div class="case-img-parent">
                        <img src="application/img/drannashow.png"></img>
                    </div>
                    <div class="case-information ">
                        <h1>DoktorAnna.se</h1>
                        <h2>Website + brand</h2>
                        <div class="case-buttons">
                            <div class="button">
                                <a href="https://github.com/KnutMonason"> See code </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div id="case2" class="case collapse">
                    <div class="case-img-parent">
                        <img src="application/img/kmshow.png"></img>
                    </div>
                    <div class="case-information">
                        <h1>Behance</h1>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>