<div class="section-content ">
    <h1> Selected projects: </h1>

    <div class="cases">
        <div class="row">
            <a href="#/project1" id="case1" class="case col-md collapse">
                <div class="case-img-parent">
                    <img src="application/img/drannashow.png"></img>
                </div>
                <div class="case-information ">
                    <h1>DoktorAnna.se</h1>
                    <h2>Website + brand</h2>
                    <h3>Click to view</h3>
                </div>
            </a>
            <a ng-href="#/project2" id="case2" class="case col-md collapse">
                <div class="case-img-parent">
                    <img src="application/img/kmshow.png"></img>
                </div>
                <div class="case-information ">
                    <h1>Previous Portfolio</h1>
                    <h2>Website + brand</h2>
                    <h3>Click to view</h3>
                </div>
            </a>
            <a ng-href="#/project3" id="case2" class="case col-md collapse">
                <div class="case-img-parent">
                    <img src="application/img/km2017.png"></img>
                </div>
                <div class="case-information ">
                    <h1>Thoughts about this site</h1>
                    <h2>Website + brand</h2>
                    <h3>Click to view</h3>
                </div>
            </a>
        </div>
    </div>
</div>