<div class="project-wrapper">
    <div class="project-navigation">
        <a title="Back" ng-href="/"><i class="fa fa-times"></i></a>

    </div>

    <div class="row">
        <div class="col-md-8">
            <img src="application/img/drannamocktransp.png">
        </div>
        <div class="col-md-4">
            <div class="project-navigation row">
                <ul class="project-navigation">
                    <li>

                        <a title="Next Project" ng-href="#/project2">
                            <i class="fa fa-chevron-right"></i>
                            <p>Next Project</p>
                        </a>
                    </li>
                    <li>
                        <a title="View this project on GitHub" target="_blank" ng-href="https://github.com/KnutMonason/Doktor-Anna/tree/master/doktoranna_v3_php">
                            <i class="fa fa-github"></i>
                            <p>See project on GitHub</p>
                        </a>
                    </li>
                    <li>
                        <a title="View this project on Behance" target="_blank" ng-href="https://www.behance.net/gallery/34416451/Website-and-brand-overhaul">
                            <i class="fa fa-behance"></i>
                            <p>View more</p>
                        </a>
                    </li>
                </ul>
            </div>
            <div class="text">
                <div class="line"></div>
                <h1>DoktorAnna.se</h1>
                <h2>Website + brand</h2>

                <p>
                    Doktor Anna is a private children's clinic where I help to produced a brand and a website. <br> The brand and color selection was a cooperation with my partner. The site is using PHP for a seamless navigation experience.


            </div>
        </div>
    </div>
</div>
</div>