<div class="project-wrapper">
    <div class="project-navigation">
    <a title="Back" ng-href="#/"><i class="fa fa-times"></i></a>

    </div>
    <div class="row">
        <div class="col-md-8">
            <img src="application/img/km2017mock.png">
        </div>
        <div class="col-md-4">
            <div class="project-navigation row">
                <ul class="project-navigation">
                    <li>
                        <a title="Back" ng-href="#/">
                            <i class="fa fa-chevron-left"></i>
                            <p>Back</p>
                        </a>
                    </li>
                    <li>
                        <a title="Next Project" target="_blank" ng-href="https://github.com/KnutMonason/knutmonason.github.io">
                            <i class="fa fa-github"></i>
                            <p>See project on GitHub</p>
                        </a>
                    </li>
                    <li>
                        <a title="View this project on Behance" target="_blank" ng-href="https://www.behance.net/gallery/53194607/Knut-Monason-Web-Portfolio">
                            <i class="fa fa-behance"></i>
                            <p>View more</p>
                        </a>
                    </li>
                </ul>
            </div>
            <div class="text">
            <div class="line"></div>
            <h1>Thoughts about this website</h1>
            <h2>Website</h2>

            <p>The purpose of this site is to show an updated version of my skillset as a developer. It’s also a great opportunity to try some cool designs. It uses AngularJS as a framework which might be a little heavy for such a small, single page application
            but it still keeps the code tidy and neat.</p>

            </div>
        </div>
    </div>
    </div>
    </div>
</div>
