.contact {
  text-align: center;

  h1 {
    font-weight: 300;
  }

  h1,
  h2 {
    margin: 0 0 30px;
    color: $bone;
  }

  hl {
    color: white;
    font-weight: 400;
  }

  svg {
    max-height: 100px;
    fill: white;
  }
}
