footer {
    display: block;
    bottom: 0;
    background-color: $prime-blue;
    color: $footerTypeColor;
    position: relative;
    z-index: 4000;
    text-align: center;
    h1 {
        font-weight: 300;
    }
    h1,
    h2 {
        margin: 0 0 30px;
    }
    hl {
        font-weight: 400;
    }
    svg {
        height: 1.5em;
        fill: $footerTypeColor;
    }
    a {
        color: $footerTypeColor;
    }
    .footer-logo {
        height: 1.5em;
    }
    .footer-credits,
    .footer-logo,
    .footer-credits-container {
        margin: auto;
        padding: 0em 1em 0em 0em;
        display: inline;
        vertical-align: middle;
    }
    .social-footer {
        margin: auto;
        list-style: none;
        text-align: center;
        z-index: 100;
        li {
            display: inline-block;
            margin: 1.2rem;
        }
        a,
        svg {
            display: block;
            fill: $bone;
            color: $bone;
        }
        a {
            height: 1.7rem;
            width: 1.7rem;
            svg {
                height: 100%;
                width: 100%;
            }
        }
        li:hover {
            border-radius: 100%;
            background: $prime-color;
            color: black;
            fill: black;
            transform: scale(1.25);
            transition: background-color 0.2s, transform 0.2s ease-out;
        }
    }
}