$arrow-color: $prime-blue;
header {
    position: relative;
    height: 100vh;
    background-position: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index: 10;
    clip-path: polygon(100% 0, 100% 80%, 20% 100%, 0 100%, 0 0);
    background-image: url("../img/desktopbg.png");
    background-size: cover;
    border-left: $border;
    border-right: $border;
    border-top: $border;
}

.logo,
.social {
    top: 0;
    position: fixed;
    display: block;
    z-index: 100;
    padding: 3.5em;
}

.logo img {
    height: 2em;
}

.social {
    right: 0;
    font-size: 0;
    list-style: none;
    margin: 0;
    padding: 2rem;
    text-align: center;
    z-index: 100;
    li {
        display: inline-block;
        margin: 1.2rem;
    }
    a,
    svg {
        display: block;
        fill: $bone;
        color: $bone;
    }
    a {
        height: 1.7rem;
        width: 1.7rem;
        svg {
            height: 100%;
            width: 100%;
        }
    }
    li:hover {
        border-radius: 100%;
        background: $prime-color;
        color: black;
        fill: black;
        transform: scale(1.25);
        transition: background-color 0.2s, transform 0.2s ease-out;
    }
}

.arrow {
    position: fixed;
    bottom: -2em;
    right: 8.3em;
    text-align: center;
    margin: 5% 0;
    z-index: 60;
    transition: all 0.3ms ease;
    & a {
        color: $arrow-color;
        text-decoration: none;
    }
}

.arrow:hover {
    a {
        color: $prime-color;
    }
}

header {
    .landing-text {
        text-align: center;
        /*        position: fixed;*/
        z-index: 300;
        .img-container {
            padding: 0 0 1em 0;
            margin: auto;
            img {
                width: 8.5em;
            }
        }
    }
    .design-text,
    .development-text,
    .and-text {
        font-family: 'Vidaloka', serif;
        margin: 0;
        line-height: 1em;
    }
    .development-text {
        font-size: 4.24em;
        color: $dark-blue;
    }
    .intro-text {
        font-size: 2em;
        margin-top: 0.5em;
        font-family: 'EB Garamond', serif;
    }
    .design-text,
    .and-text {
        font-size: 7em;
    }
    .design-text {
        color: white;
    }
    .and-text {
        color: $prime-color;
    }
    .first-row {
        padding: 0;
    }
    .design-text,
    .and-text {
        display: inline-block !important;
        padding: 0;
    }
    .landing-button {
        color: #fff;
        cursor: pointer;
        display: block;
        font-size: 16px;
        font-weight: 900;
        line-height: 45px;
        margin: 2em auto 2em;
        max-width: 160px;
        position: relative;
        text-decoration: none;
        text-transform: uppercase;
        width: 100%;
        text-align: center;
        svg {
            height: 45px;
            left: 0;
            position: absolute;
            top: 0;
            width: 100%;
        }
        rect {
            fill: none;
            stroke: #fff;
            stroke-width: 5;
            stroke-dasharray: 422, 0;
        }
    }
    .landing-button:hover {
        letter-spacing: 1px;
        color: $prime-color;
        rect {
            stroke: $prime-color;
            stroke-width: 5;
            stroke-dasharray: 15, 310;
            stroke-dashoffset: 48;
            transition: all 1.35s cubic-bezier(0.5, 1, 0.5, 1);
        }
    }
}