header {
    position: relative;
    height: 100vh;
    background-position: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index: 10;
    clip-path: polygon(100% 0, 100% 80%, 20% 100%, 0 100%, 0 0);
    background: linear-gradient(135deg, lightcoral, $prime-color);
}

.hero {
    top: 20%;
    left: 20%;
    z-index: 90;
    margin: 0;
    h1,
    h2 {
        color: white;
        margin: 0;
    }
}

.social {
    top: 0;
    right: 0;
    position: fixed;
    display: block;
    font-size: 0;
    list-style: none;
    margin: 0;
    padding: 1rem;
    text-align: center;
    z-index: 100;
    li {
        display: inline-block;
        margin: 1.2rem;
    }
    a,
    svg {
        display: block;
        fill: white;
        color: white;
    }
    a {
        height: 1.7rem;
        width: 1.7rem;
        svg {
            height: 100%;
            width: 100%;
        }
    }
    li:hover {
        border-radius: 100%;
        background: lightcoral;
        color: black;
        fill: black;
        transform: scale(1.25);
        transition: background-color 0.2s, transform 0.2s ease-out;
    }
}

.arrow {
    position: fixed;
    bottom: 1px;
    right: 3%;
    text-align: center;
    margin: 5% 0;
    z-index: 60;
    & a {
        color: $prime-color;
        text-decoration: none;
    }
}

svg.intro {
    background: linear-gradient(#113275, darkblue);
    max-width: 700px;
    position: fixed;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 300;
    .text {
        display: none;
    }
    &.go {
        .text {
            font-size: 10px;
            display: block;
            font-weight: 300;
            &.bold {
                font-weight: 500 !important;
            }
        }
        .text-stroke {
            fill: none;
            stroke: $prime-color;
            stroke-width: 2.8px;
            stroke-dashoffset: -900;
            stroke-dasharray: 900;
            stroke-linecap: butt;
            stroke-linejoin: round;
            animation: dash 2.5s ease-in-out forwards;
        }
        .text-stroke:nth-child(2) {
            animation-delay: .3s;
        }
        .text-stroke:nth-child(3) {
            animation-delay: .9s;
        }
        .text-stroke-2 {
            stroke: white;
            animation-delay: 1.2s;
        }
        .text-stroke:nth-child(5) {
            animation-delay: 1.5s;
        }
        .text-stroke:nth-child(6) {
            animation-delay: 1.8s;
        }
    }
}

.animate-down {
    animation: down 1.5s ease-in-out forwards;
}

@keyframes down {
    0% {
        opacity: 0;
        top: -400px;
    }
}

@keyframes dash {
    100% {
        stroke-dashoffset: 0;
    }
}