nav {
    position: absolute;
    background-color: $prime-color;
    width: $nav-desktop;
    top: 0;
    left: 0;
    bottom: 0;
    /*    padding: 1.4rem 0;*/
    z-index: 200;
    overflow: auto;
    margin: 0;
    margin-right: 40px;
    transition: all 0.3s ease;
}

nav a {
    display: block;
    line-height: 1.4rem;
    color: white;
    border: none;
    padding: 0.7rem 1.4rem;
    font-size: 1rem;
    font-weight: 300;
    transition: all 0.3s ease;
}

nav a:hover,
.active {
    background: rgba(255, 255, 255, 0.3);
    color: darkblue;
    font-weight: 400;
}

nav div a i.fa-lg {
    font-size: 1.2rem;
    vertical-align: 0;
    margin-right: 15px;
}

.fixed {
    position: fixed;
}