.case {
    position: relative;
    padding: 0px;
    margin: 0 20px 0 20px;
    background-color: $prime-blue;
    text-align: center;
    vertical-align: middle;
    transition: all 0.1s ease;
    font-weight: 400;
    height: 350px;
    width: 300px !important;
    img {
        width: 100%;
    }
    .case-information {
        height: 115px;
    }
    &.expand {
        color: $prime-color;
        clip-path: polygon(80% 0, 100% 20%, 100% 100%, 0 100%, 0 0);
    }
    &.collapse {
        color: white;
        clip-path: polygon(80% 0, 100% 0, 100% 100%, 0 100%, 0 0);
    }
}

.more-work {
    text-align: center;
    margin-bottom: 3em;
    display: block;
    -webkit-transition: -webkit-all 0.1s;
    -moz-transition: -moz-all 0.1s;
    transition: all 0.1s;
    color: $prime-blue;
}

.portfolio-title-text {
    /*    color: $prime-blue;*/
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
    background-clip: text;
    background-size: cover;
    background-image: url(../img/text-bg.png);
}

.more-work:hover {
    color: $prime-color;
}

.project-wrapper {
    height: 100vh;
    max-width: 1200px;
    padding: 50px;
    margin-left: auto;
    margin-right: auto;
    a,
    p,
    h1,
    h2 {
        color: $dark-blue;
    }
    img {
        width: 100%;
        height: auto;
    }
    .project-navigation {
        ul {
            padding: 0 23px 0 18px;
        }
        li {
            list-style: none;
        }
        a {
            display: inline;
            padding-right: 30px;
            i,
            p {
                display: inline;
            }
        }
    }
}

.view-animate-container {
    position: relative;
    height: 600px;
    background: white;
    overflow: hidden;
    padding: 0;
}

.view-animate {
    height: 100%;
}

.view-animate.ng-enter,
.view-animate.ng-leave {
    transition: all cubic-bezier(0.250, 0.460, 0.450, 0.940) 0.5s;
    display: block;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

.view-animate.ng-enter {
    left: 100%;
}

.view-animate.ng-enter.ng-enter-active {
    left: 0;
}

.view-animate.ng-leave.ng-leave-active {
    left: -100%;
}