.case {
    position: relative;
    background-color: white;
    text-align: center;
    vertical-align: middle;
    /*    margin: 15px 10px 15px 10px;*/
    /*max-width: 400px;*/
    transition: all 0.1s ease;
    font-weight: 400;
    height: 100%;
    img {
        width: 100%;
        height: auto;
    }
    .case-information {
        height: 115px;
    }
    &.expand {
        color: $prime-color;
        clip-path: polygon(80% 0, 100% 20%, 100% 100%, 0 100%, 0 0);
    }
    &.collapse {
        color: darkblue;
        clip-path: polygon(80% 0, 100% 0, 100% 100%, 0 100%, 0 0);
    }
}