.skill-wapper {
    margin-top: 40px;
    color: white;
    .skill-segment {
        color: $prime-blue;
        background-color: white;
        margin: 0 0 15px;
        padding: 0px 10px 10px;
        -webkit-box-shadow: 7px 7px 15px 0 rgba(32, 33, 47, 0.75);
        -moz-box-shadow: 7px 7px 15px 0 rgba(32, 33, 47, 0.75);
        box-shadow: 7px 7px 15px 0 rgba(32, 33, 47, 0.75);
    }
    .skill {
        svg {
            height: 50px;
            margin-left: auto;
            margin-right: auto;
            display: block;
        }
        h2 {
            color: $prime-blue;
            text-align: center;
        }
    }
}

section#skill-set {
    -webkit-clip-path: polygon(0 0, 100% 0%, 100% 100%, 0 90%);
    clip-path: polygon(0 0, 100% 0%, 100% 100%, 0 90%);
    padding: 1em 0 7em 0;
    background-color: $prime-blue;
}
