$prime-blue: #2196F3;
$text-color: #0C090A;
$nav-height: 0px;
$footerBgColor:#575757;
$footerTypeColor: white;
$prime-color:#d94a26;
$nav-desktop: 150px;
$nav-small: 0px;
@import url(https://fonts.googleapis.com/css?family=Roboto:300,400);
@import "navbar";
@import "header";
@import "competencies";
@import "portfolio";
@import "skillset";
@import "process";
@import "contact";
html {
    box-sizing: border-box;
}

*,
*:before,
*:after {
    box-sizing: inherit;
}

body {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
    color: $text-color;
    font-size: 14px;
    font-weight: 300;
    .big-text {
        font-size: 5.8em;
        font-weight: 400;
        line-height: 5px;
    }
    h1 {
        font-size: 2.0em;
        font-weight: 400;
    }
    h2 {
        font-size: 1.4em;
        font-weight: 300;
    }
    h3 {
        font-size: 0.8em;
    }
    p {
        font-size: 1.0em;
        font-weight: 300;
    }
    a {
        text-decoration: none;
    }
    h1,
    h2,
    h3,
    h4,
    a,
    p {
        -webkit-font-smoothing: subpixel-antialiased;
    }
    .line {
        border: 1px solid lightgrey;
        width: 100%;
        margin: 10px 0 10px 0;
    }
    .shadow {
        -webkit-box-shadow: 7px 7px 15px 0px rgba(50, 50, 50, 0.75);
        -moz-box-shadow: 7px 7px 15px 0px rgba(50, 50, 50, 0.75);
        box-shadow: 7px 7px 15px 0px rgba(50, 50, 50, 0.75);
    }
}

nav,
footer {
    display: block;
}

main {
    position: relative;
    padding-left: $nav-desktop;
    z-index: 100;
    /*    background: url(/application/img/bg.png) repeat;*/
}

main section {
    width: 100%;
    position: relative;
    background-color: white;
}

main .section-content {
    max-width: 1000px;
    margin-left: auto;
    margin-right: auto;
    padding-top: 15px;
    padding-bottom: 15px;
    z-index: 150;
}

main section#compentencies {
    background: linear-gradient(#113275, darkblue);
    color: white;
}

main section#projects {
    background: linear-gradient(#113275, darkblue);
    color: white;
}

main section#first {
    h1 {
        color: $prime-color;
    }
}

.unselectable {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.seperator {
    background: linear-gradient(#113275, darkblue);
    color: white;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    clip-path: polygon(0 0, 0 100%, 120% 80%, 100% 0);
    padding: 20px 20px 20px 20px;
}

footer {
    bottom: 0;
    height: 100px;
    background: linear-gradient(#113275, darkblue);
    color: $footerTypeColor;
    position: relative;
    z-index: 4000;
}

.bio img {
    max-width: 300px;
    height: auto;
    padding: 50px 0px 0px 25px;
    margin-left: auto;
    margin-right: auto;
    display: block;
}

.hole {
    border-radius: 100px;
    position: relative;
    width: 30px;
    height: 30px;
    box-shadow: -5px 5px 5px 0px rgba(0, 24, 64, 0.43);
    /*  box-shadow: inset -12px 16px 16px 0px rgba(114, 114, 114, 0.32);*/
    &.hole-1 {
        background-color: lightcoral;
    }
    &.hole-2 {
        background-color: lightgreen;
    }
    &.hole-3 {
        background-color: lightblue;
    }
    &.hole-4 {
        background-color: lightyellow;
    }
}

.card {
    /*  box-shadow: -12px 16px 16px 0px rgba(131, 131, 131, 0.43);*/
    margin: 30px 0 30px 0;
    /*  color: white;*/
    /*  padding: 13px 36px 13px 36px;*/
    .card-text p {
        margin: 3px 0 8px 48px;
    }
    .title {
        display: flex;
        padding: 3px 3px 3px 3px;
        .hole {
            flex: 1;
            max-width: 30px;
        }
        h2 {
            flex: 1;
            margin: 0 0 0 15px;
            /*  font-weight: 500;*/
        }
        /*  background: linear-gradient(#113275, darkblue);*/
    }
}

@media screen and (max-width: 992px) {
    nav {
        width: $nav-small;
    }
    main {
        padding-left: $nav-small;
    }
    .skill-wapper svg {
        display: none;
    }
    .section-content {
        padding: 15px 15px 15px 15px;
    }
}