    $prime-blue: #205AA9;
    $text-color: #e2e2e2;
    $dark-blue: #123561;
    $border: 1em solid white;
    $sec-color: #2971D4;
    $third-color: #233040;
    $bone: #e2e2e2;
    $nav-height: 0;
    $prime-color: #FFB300;
    $nav-desktop: 8em;
    $nav-small: 0;
    $footerBgColor: $dark-blue;
    $footerTypeColor: white;
    @import url(https://fonts.googleapis.com/css?family=Roboto:300,400);
    @import url(https://fonts.googleapis.com/css?family=EB+Garamond);
    @import url(https://fonts.googleapis.com/css?family=Vidaloka);
    @import "preloader";
    @import "navbar";
    @import "header";
    @import "portfolio";
    @import "skillset";
    @import "footer";
    @import "contact";
    html {
        box-sizing: border-box;
        overflow-x: hidden;
    }

    *,
    *:after,
    *:before {
        box-sizing: inherit;
    }

    body {
        margin: 0;
        padding: 0;
        font-family: 'Roboto', sans-serif;
        color: $text-color;
        font-size: 14px;
        font-weight: 300;
        overflow-x: hidden;
        background-color: white;
        .big-text {
            font-size: 2.11em;
            padding-top: 24px;
        }
        .display-serif {
            font-family: 'Vidaloka', serif;
        }
        h1 {
            font-size: 1.6em;
            font-weight: 400;
        }
        h2 {
            font-size: 1.4em;
            font-weight: 300;
        }
        h3 {
            font-size: 1em;
        }
        p {
            font-size: 1.2em;
            font-weight: 300;
            font-family: 'EB Garamond', serif;
        }
        a {
            text-decoration: none;
        }
        a,
        h1,
        h2,
        h3,
        h4,
        p {
            -webkit-font-smoothing: subpixel-antialiased;
        }
        .line {
            border: 1px solid lightgrey;
            width: 100%;
            margin: 30px 0 0;
        }
        .shadow {
            -webkit-box-shadow: 7px 7px 15px 0 rgba(50, 50, 50, 0.75);
            -moz-box-shadow: 7px 7px 15px 0 rgba(50, 50, 50, 0.75);
            box-shadow: 7px 7px 15px 0 rgba(50, 50, 50, 0.75);
        }
        .white {
            color: white;
        }
    }

    .hidden {
        display: none;
        transition: all 0.3s ease;
    }

    nav {
        display: block;
    }

    main {
        position: relative;
        padding-left: $nav-desktop;
        z-index: 100;
    }

    main section {
        width: 100%;
        position: relative;
        background-color: white;
    }

    main .section-content {
        max-width: 1000px;
        margin-left: auto;
        margin-right: auto;
        z-index: 150;
        padding: 0.5em;
    }

    main section#contact {
        background-color: white;
        padding: 1em 0 1em 0;
    }

    section#about {
        background-color: $prime-blue;
    }

    section#about {
        -webkit-clip-path: polygon(0 0, 100% 10%, 100% 100%, 0 100%);
        clip-path: polygon(0 0, 100% 10%, 100% 100%, 0 100%);
    }

    main section#experience {
        background-color: white;
        color: $prime-blue;
    }

    main section#first {
        h1 {
            color: $prime-color;
        }
    }

    .unselectable {
        -webkit-touch-callout: none;
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
    }

    .title {
        text-align: center;
    }

    .seperator {
        -webkit-clip-path: polygon(0 0, 100% 10%, 100% 100%, 0 90%);
        clip-path: polygon(0 0, 100% 10%, 100% 100%, 0 90%);
        .gigantic {
            margin: 0.5em auto 0.5em auto;
            max-width: 15em;
            font-size: 6.8em;
            font-weight: 400;
            line-height: 7rem;
            text-align: center;
            -webkit-text-fill-color: transparent;
            -webkit-background-clip: text;
            background-clip: text;
            background-size: cover;
            background-image: url("../img/text-bg.png");
        }
    }

    .bio {
        margin-top: 4em;
    }

    .bio-img-container img {
        max-width: 230px;
        height: auto;
        border: #e2e2e2 2px solid;
        margin-left: auto;
        margin-right: auto;
        display: block;
        margin-top: 17px;
    }

    .dots {
        margin-bottom: 25px;
    }

    .experience-text,
    .experience-dot {
        display: inline-block;
    }

    .process {
        padding: 50px;
        text-align: center;
        .graphic,
        .text {
            display: inline-block;
            vertical-align: middle;
            margin: 0 10px 0 0;
            color: white;
        }
    }

    .hole {
        border-radius: 100px;
        position: relative;
        width: 30px;
        height: 30px;
        box-shadow: 4px 5px 7px -1px rgba(0, 24, 64, 0.43);
        &.hole-1 {
            background-color: $prime-color;
        }
        &.hole-2 {
            background-color: $sec-color;
        }
        &.hole-3 {
            background-color: mediumseagreen;
        }
    }

    @media screen and (max-width: 1110px) {
        nav {
            width: $nav-small;
        }
        main {
            padding-left: $nav-small;
        }
        .skill-wapper svg {
            display: none;
        }
        .section-content {
            padding: 15px !important;
        }
        footer .footer-container {
            padding-left: 0em;
        }
    }

    @media all and (-ms-high-contrast: none),
    (-ms-high-contrast: active) {
        .gigantic {
            background-image: none !important;
        }
    }

    @media screen and (max-width: 768px) {
        * {
            clip-path: none !important;
        }
        .logo,
        .arrow {
            display: none;
        }
        header {
            border: none;
            .design-text,
            .and-text {
                font-size: 4em;
            }
            .development-text {
                font-size: 2.24em;
            }
        }
        footer .footer-credits-container {
            margin: 1em auto auto auto;
        }
        .gigantic {
            font-size: 2.8em !important;
        }
        .case {
            margin-bottom: 30px;
            margin-right: auto;
            margin-left: auto;
        }
        .view-animate-container {
            height: 100%;
            min-height: 600px;
        }
        .project-wrapper {
            padding: 20px;
            height: 500px;
        }
        .ng-animate.ng-enter {
            height: 600px;
        }
    }
