@import url(https://fonts.googleapis.com/css?family=Roboto:300,400);
@import url(https://fonts.googleapis.com/css?family=Abril+Fatface);
@import url(https://fonts.googleapis.com/css?family=EB+Garamond);
nav {
  position: absolute;
  background-color: #233040;
  width: 100px;
  top: 0;
  left: 0;
  bottom: 0;
  z-index: 200;
  overflow: hidden;
  margin: 0;
  margin-right: 40px;
  transition: all 0.3s ease;
  box-shadow: 7px 7px 15px 0px rgba(32, 33, 47, 0.75); }

nav a {
  display: block;
  font-weight: 400;
  transition: all 0.3s ease;
  width: 100px;
  padding: 20px;
  margin-left: auto;
  margin-right: auto;
  border-bottom: 1px solid #233040;
  text-align: center;
  line-height: 14px;
  color: #e2e2e2;
  list-style: none; }

nav a:hover,
.active {
  background: rgba(255, 255, 255, 0.3);
  color: #e2e2e2;
  font-weight: 400; }

.fixed {
  position: fixed; }

nav div a i.fa-lg {
  margin: 0; }

.navicone {
  font: normal normal normal 14px/1 FontAwesome; }

header {
  position: relative;
  height: 100vh;
  background-position: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  z-index: 10;
  clip-path: polygon(100% 0, 100% 80%, 20% 100%, 0 100%, 0 0);
  background: linear-gradient(135deg, lightcoral, #d94a26); }

.hero {
  top: 20%;
  left: 20%;
  z-index: 90;
  margin: 0; }
  .hero h1,
  .hero h2 {
    color: white;
    margin: 0; }

.social {
  top: 0;
  right: 0;
  position: fixed;
  display: block;
  font-size: 0;
  list-style: none;
  margin: 0;
  padding: 1rem;
  text-align: center;
  z-index: 100; }
  .social li {
    display: inline-block;
    margin: 1.2rem; }
  .social a,
  .social svg {
    display: block;
    fill: white;
    color: white; }
  .social a {
    height: 1.7rem;
    width: 1.7rem; }
    .social a svg {
      height: 100%;
      width: 100%; }
  .social li:hover {
    border-radius: 100%;
    background: lightcoral;
    color: black;
    fill: black;
    transform: scale(1.25);
    transition: background-color 0.2s, transform 0.2s ease-out; }

.arrow {
  position: fixed;
  bottom: 1px;
  right: 3%;
  text-align: center;
  margin: 5% 0;
  z-index: 60; }
  .arrow a {
    color: #d94a26;
    text-decoration: none; }

svg.intro {
  background: linear-gradient(#113275, darkblue);
  max-width: 700px;
  position: fixed;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 300; }
  svg.intro .text {
    display: none; }
  svg.intro.go .text {
    font-size: 10px;
    display: block;
    font-weight: 300; }
    svg.intro.go .text.bold {
      font-weight: 500 !important; }
  svg.intro.go .text-stroke {
    fill: none;
    stroke: #E66A5C;
    stroke-width: 2.8px;
    stroke-dashoffset: -900;
    stroke-dasharray: 900;
    stroke-linecap: butt;
    stroke-linejoin: round;
    animation: dash 2.5s ease-in-out forwards; }
  svg.intro.go .text-stroke:nth-child(2) {
    animation-delay: .3s; }
  svg.intro.go .text-stroke:nth-child(3) {
    animation-delay: .9s; }
  svg.intro.go .text-stroke-2 {
    stroke: white;
    animation-delay: 1.2s; }
  svg.intro.go .text-stroke:nth-child(5) {
    animation-delay: 1.5s; }
  svg.intro.go .text-stroke:nth-child(6) {
    animation-delay: 1.8s; }

.animate-down {
  animation: down 1.5s ease-in-out forwards; }

@keyframes down {
  0% {
    opacity: 0;
    top: -400px; } }

@keyframes dash {
  100% {
    stroke-dashoffset: 0; } }

.case {
  position: relative;
  padding: 0px;
  margin: 0 20px 0 20px;
  background-color: white;
  text-align: center;
  vertical-align: middle;
  transition: all 0.1s ease;
  font-weight: 400;
  height: 350px;
  width: 300px !important; }
  .case img {
    width: 100%;
    height: 180px; }
  .case .case-information {
    height: 115px; }
  .case.expand {
    color: #d94a26;
    clip-path: polygon(80% 0, 100% 20%, 100% 100%, 0 100%, 0 0); }
  .case.collapse {
    color: darkblue;
    clip-path: polygon(80% 0, 100% 0, 100% 100%, 0 100%, 0 0); }

.project-wrapper {
  max-width: 1200px;
  padding: 50px;
  margin-left: auto;
  margin-right: auto; }
  .project-wrapper img {
    width: 100%;
    height: auto; }
  .project-wrapper .project-navigation ul {
    padding: 0 23px 0 18px; }
  .project-wrapper .project-navigation li {
    list-style: none; }
  .project-wrapper .project-navigation a {
    display: inline;
    padding-right: 30px;
    color: white; }
    .project-wrapper .project-navigation a i,
    .project-wrapper .project-navigation a p {
      display: inline; }

.view-animate-container {
  position: relative;
  height: 600px;
  background: #233040;
  overflow: hidden; }

.view-animate {
  height: 100%; }

.view-animate.ng-enter,
.view-animate.ng-leave {
  transition: all cubic-bezier(0.25, 0.46, 0.45, 0.94) 0.5s;
  display: block;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0; }

.view-animate.ng-enter {
  left: 100%; }

.view-animate.ng-enter.ng-enter-active {
  left: 0; }

.view-animate.ng-leave.ng-leave-active {
  left: -100%; }

.skill-wapper {
  margin-top: 40px;
  color: white; }
  .skill-wapper h1 {
    color: #d94a26; }
  .skill-wapper .skill-segment {
    background-color: #233040;
    margin: 0px 0px 30px 0px;
    padding: 0px 15px 15px 15px;
    -webkit-box-shadow: 7px 7px 15px 0px rgba(32, 33, 47, 0.75);
    -moz-box-shadow: 7px 7px 15px 0px rgba(32, 33, 47, 0.75);
    box-shadow: 7px 7px 15px 0px rgba(32, 33, 47, 0.75); }
  .skill-wapper .skill svg {
    height: 50px;
    margin-left: auto;
    margin-right: auto;
    display: block; }
  .skill-wapper .skill h2 {
    color: white;
    text-align: center; }

section#skill-set {
  background-color: #1d2837; }

.contact {
  text-align: center; }
  .contact h1 {
    font-weight: 300; }
  .contact h2,
  .contact h1 {
    margin: 0 0 30px 0;
    color: #e2e2e2; }
  .contact hl {
    color: white;
    font-weight: 400; }
  .contact svg {
    max-height: 100px;
    fill: white; }

html {
  box-sizing: border-box; }

*,
*:before,
*:after {
  box-sizing: inherit; }

body {
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
  color: #e2e2e2;
  font-size: 14px;
  font-weight: 300;
  overflow-x: hidden;
  background-color: #233040; }
  body .big-text {
    font-size: 2.11em;
    padding-top: 24px; }
  body .gigantic {
    font-size: 6.8em;
    font-weight: 400;
    line-height: 6rem;
    text-align: center;
    margin-top: 150px; }
  body .display-serif {
    font-family: 'Abril Fatface', cursive; }
  body h1 {
    font-size: 1.6em;
    font-weight: 400; }
  body h2 {
    font-size: 1.4em;
    font-weight: 300; }
  body h3 {
    font-size: 0.8em; }
  body p {
    font-size: 1.2em;
    font-weight: 300;
    font-family: 'EB Garamond', serif; }
  body a {
    text-decoration: none; }
  body h1,
  body h2,
  body h3,
  body h4,
  body a,
  body p {
    -webkit-font-smoothing: subpixel-antialiased; }
  body .line {
    border: 1px solid lightgrey;
    width: 100%;
    margin: 30px 0 0 0; }
  body .shadow {
    -webkit-box-shadow: 7px 7px 15px 0px rgba(50, 50, 50, 0.75);
    -moz-box-shadow: 7px 7px 15px 0px rgba(50, 50, 50, 0.75);
    box-shadow: 7px 7px 15px 0px rgba(50, 50, 50, 0.75); }
  body .prime-colored {
    color: #d94a26; }
  body .white {
    color: white; }

nav,
footer {
  display: block; }

main {
  position: relative;
  padding-left: 100px;
  z-index: 100; }

main section {
  width: 100%;
  position: relative;
  background-color: #1d2837;
  margin: 0px 0 1px 0; }

main .section-content {
  max-width: 1000px;
  margin-bottom: 30px;
  margin-left: auto;
  margin-right: auto;
  padding: 1px 0 1px 0;
  z-index: 150; }

main section#compentencies {
  background: linear-gradient(#113275, darkblue);
  color: white; }

section#about {
  -webkit-clip-path: polygon(0 0, 100% 10%, 100% 100%, 0% 100%);
  clip-path: polygon(0 0, 100% 10%, 100% 100%, 0% 100%); }

main section#experience {
  background-color: #233040; }

main section#first h1 {
  color: #d94a26; }

.unselectable {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none; }

.seperator {
  background: linear-gradient(#113275, darkblue);
  color: white;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  clip-path: polygon(0 0, 0 100%, 120% 80%, 100% 0);
  padding: 20px 20px 20px 20px; }

footer {
  bottom: 0;
  background-color: #d94a26;
  color: white;
  position: relative;
  z-index: 4000;
  padding: 50px 0px 10px 100px; }

.bio img {
  max-width: 230px;
  height: auto;
  border: #e2e2e2 2px solid;
  margin-left: auto;
  margin-right: auto;
  display: block;
  margin-top: 17px; }

.dots {
  margin-bottom: 25px; }

.process {
  padding: 50px;
  text-align: center; }
  .process .graphic,
  .process .text {
    display: inline-block;
    vertical-align: middle;
    margin: 0px 10px 0px 0px;
    color: white; }

.hole {
  border-radius: 100px;
  position: relative;
  width: 30px;
  height: 30px;
  box-shadow: 4px 5px 7px -1px rgba(0, 24, 64, 0.43); }
  .hole.hole-1 {
    background-color: #d94a26; }
  .hole.hole-2 {
    background-color: #2196F3; }
  .hole.hole-3 {
    background-color: mediumseagreen; }

.card {
  margin: 30px 0 30px 0; }
  .card .card-text p {
    margin: 3px 0 8px 48px; }
  .card .title {
    display: flex;
    padding: 3px 3px 3px 3px; }
    .card .title .hole {
      flex: 1;
      max-width: 30px; }
    .card .title h2 {
      flex: 1;
      margin: 0 0 0 15px; }

@media screen and (max-width: 1110px) {
  nav {
    width: 0px; }
  main {
    padding-left: 0px; }
  .skill-wapper svg {
    display: none; }
  .section-content {
    padding: 15px 15px 15px 15px !important; }
  footer {
    padding-left: 0px; } }

@media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
  header {
    display: none; } }

@media screen and (max-width: 768px) {
  header {
    display: none; }
  .gigantic {
    font-size: 2.8em !important; }
  .case {
    margin-bottom: 30px;
    margin-right: auto;
    margin-left: auto; }
  .view-animate-container {
    height: 1300px; } }
