@import url(https://fonts.googleapis.com/css?family=Roboto:300,400);
@import url(https://fonts.googleapis.com/css?family=EB+Garamond);
@import url(https://fonts.googleapis.com/css?family=Vidaloka);
nav {
  position: absolute;
  background-color: #2971D4;
  width: 8em;
  top: 0;
  left: 0;
  bottom: 0;
  z-index: 200;
  overflow: hidden;
  margin: 0 40px 0 0;
  transition: all 0.3s ease;
  box-shadow: 7px 7px 15px 0 rgba(32, 33, 47, 0.35);
  font-size: 1em; }

nav a {
  display: block;
  font-weight: 400;
  transition: all 0.3s ease;
  width: 8em;
  padding: 20px;
  margin-left: auto;
  margin-right: auto;
  border-bottom: 1px solid #e2e2e2;
  text-align: center;
  line-height: 14px;
  color: #e2e2e2;
  list-style: none; }

.active,
nav a:hover {
  background: rgba(255, 255, 255, 0.3);
  color: #e2e2e2;
  font-weight: 400; }

.fixed {
  position: fixed; }

nav div a i.fa-lg {
  margin: 0; }

.navicone {
  font: normal normal normal 14px/1 FontAwesome; }

header {
  position: relative;
  height: 100vh;
  background-position: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  z-index: 10;
  clip-path: polygon(100% 0, 100% 80%, 20% 100%, 0 100%, 0 0);
  background-image: url("../img/desktopbg.png");
  background-size: cover;
  border-left: 1em solid white;
  border-right: 1em solid white;
  border-top: 1em solid white; }

.logo,
.social {
  top: 0;
  position: fixed;
  display: block;
  z-index: 100;
  padding: 3.5em; }

.logo img {
  height: 2em; }

.social {
  right: 0;
  font-size: 0;
  list-style: none;
  margin: 0;
  padding: 2rem;
  text-align: center;
  z-index: 100; }
  .social li {
    display: inline-block;
    margin: 1.2rem; }
  .social a,
  .social svg {
    display: block;
    fill: #e2e2e2;
    color: #e2e2e2; }
  .social a {
    height: 1.7rem;
    width: 1.7rem; }
    .social a svg {
      height: 100%;
      width: 100%; }
  .social li:hover {
    border-radius: 100%;
    background: #FFB300;
    color: black;
    fill: black;
    transform: scale(1.25);
    transition: background-color 0.2s, transform 0.2s ease-out; }

.arrow {
  position: fixed;
  bottom: -2em;
  right: 8.3em;
  text-align: center;
  margin: 5% 0;
  z-index: 60;
  transition: all 0.3ms ease; }
  .arrow a {
    color: #205AA9;
    text-decoration: none; }

.arrow:hover a {
  color: #FFB300; }

header .landing-text {
  text-align: center;
  /*        position: fixed;*/
  z-index: 300; }
  header .landing-text .img-container {
    padding: 0 0 1em 0;
    margin: auto; }
    header .landing-text .img-container img {
      width: 8.5em; }

header .design-text,
header .development-text,
header .and-text {
  font-family: 'Vidaloka', serif;
  margin: 0;
  line-height: 1em; }

header .development-text {
  font-size: 4.24em;
  color: #123561; }

header .intro-text {
  font-size: 2em;
  margin-top: 0.5em;
  font-family: 'EB Garamond', serif; }

header .design-text,
header .and-text {
  font-size: 7em; }

header .design-text {
  color: white; }

header .and-text {
  color: #FFB300; }

header .first-row {
  padding: 0; }

header .design-text,
header .and-text {
  display: inline-block !important;
  padding: 0; }

header .landing-button {
  color: #fff;
  cursor: pointer;
  display: block;
  font-size: 16px;
  font-weight: 900;
  line-height: 45px;
  margin: 2em auto 2em;
  max-width: 160px;
  position: relative;
  text-decoration: none;
  text-transform: uppercase;
  width: 100%;
  text-align: center; }
  header .landing-button svg {
    height: 45px;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%; }
  header .landing-button rect {
    fill: none;
    stroke: #fff;
    stroke-width: 5;
    stroke-dasharray: 422, 0; }

header .landing-button:hover {
  letter-spacing: 1px;
  color: #FFB300; }
  header .landing-button:hover rect {
    stroke: #FFB300;
    stroke-width: 5;
    stroke-dasharray: 15, 310;
    stroke-dashoffset: 48;
    transition: all 1.35s cubic-bezier(0.5, 1, 0.5, 1); }

.case {
  position: relative;
  padding: 0px;
  margin: 0 20px 0 20px;
  background-color: white;
  text-align: center;
  vertical-align: middle;
  transition: all 0.1s ease;
  font-weight: 400;
  height: 350px;
  width: 300px !important; }
  .case img {
    width: 100%;
    height: 180px; }
  .case .case-information {
    height: 115px; }
  .case.expand {
    color: #FFB300;
    clip-path: polygon(80% 0, 100% 20%, 100% 100%, 0 100%, 0 0); }
  .case.collapse {
    color: #205AA9;
    clip-path: polygon(80% 0, 100% 0, 100% 100%, 0 100%, 0 0); }

.more-work {
  color: white;
  text-align: center;
  margin-top: 30px;
  display: block;
  -webkit-transition: -webkit-all 0.1s;
  -moz-transition: -moz-all 0.1s;
  transition: all 0.1s; }

.more-work:hover {
  color: #FFB300; }

.project-wrapper {
  max-width: 1200px;
  padding: 50px;
  margin-left: auto;
  margin-right: auto; }
  .project-wrapper img {
    width: 100%;
    height: auto; }
  .project-wrapper .project-navigation ul {
    padding: 0 23px 0 18px; }
  .project-wrapper .project-navigation li {
    list-style: none; }
  .project-wrapper .project-navigation a {
    display: inline;
    padding-right: 30px;
    color: white; }
    .project-wrapper .project-navigation a i,
    .project-wrapper .project-navigation a p {
      display: inline; }

.view-animate-container {
  position: relative;
  height: 600px;
  background: #205AA9;
  overflow: hidden; }

.view-animate {
  height: 100%;
  padding: 2em 0 7em 0; }

.view-animate.ng-enter,
.view-animate.ng-leave {
  transition: all cubic-bezier(0.25, 0.46, 0.45, 0.94) 0.5s;
  display: block;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0; }

.view-animate.ng-enter {
  left: 100%; }

.view-animate.ng-enter.ng-enter-active {
  left: 0; }

.view-animate.ng-leave.ng-leave-active {
  left: -100%; }

.skill-wapper {
  margin-top: 40px;
  color: white; }
  .skill-wapper .skill-segment {
    color: #205AA9;
    background-color: white;
    margin: 0 0 30px;
    padding: 0 15px 15px;
    -webkit-box-shadow: 7px 7px 15px 0 rgba(32, 33, 47, 0.75);
    -moz-box-shadow: 7px 7px 15px 0 rgba(32, 33, 47, 0.75);
    box-shadow: 7px 7px 15px 0 rgba(32, 33, 47, 0.75); }
  .skill-wapper .skill svg {
    height: 50px;
    margin-left: auto;
    margin-right: auto;
    display: block; }
  .skill-wapper .skill h2 {
    color: #205AA9;
    text-align: center; }

section#skill-set {
  -webkit-clip-path: polygon(0 0, 100% 10%, 100% 100%, 0 90%);
  clip-path: polygon(0 0, 100% 10%, 100% 100%, 0 90%); }

html {
  box-sizing: border-box; }

*,
*:after,
*:before {
  box-sizing: inherit; }

body {
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
  color: #e2e2e2;
  font-size: 14px;
  font-weight: 300;
  overflow-x: hidden;
  background-color: white; }
  body .big-text {
    font-size: 2.11em;
    padding-top: 24px; }
  body .display-serif {
    font-family: 'Vidaloka', serif; }
  body h1 {
    font-size: 1.6em;
    font-weight: 400; }
  body h2 {
    font-size: 1.4em;
    font-weight: 300; }
  body h3 {
    font-size: 1em; }
  body p {
    font-size: 1.2em;
    font-weight: 300;
    font-family: 'EB Garamond', serif; }
  body a {
    text-decoration: none; }
  body a,
  body h1,
  body h2,
  body h3,
  body h4,
  body p {
    -webkit-font-smoothing: subpixel-antialiased; }
  body .line {
    border: 1px solid lightgrey;
    width: 100%;
    margin: 30px 0 0; }
  body .shadow {
    -webkit-box-shadow: 7px 7px 15px 0 rgba(50, 50, 50, 0.75);
    -moz-box-shadow: 7px 7px 15px 0 rgba(50, 50, 50, 0.75);
    box-shadow: 7px 7px 15px 0 rgba(50, 50, 50, 0.75); }
  body .prime-colored {
    color: #FFB300; }
  body .white {
    color: white; }

.hidden {
  display: none;
  transition: all 0.3s ease; }

footer,
nav {
  display: block; }

main {
  position: relative;
  padding-left: 8em;
  z-index: 100; }

main section {
  width: 100%;
  position: relative;
  background-color: #205AA9;
  /*    margin: 0 0 1px;*/
  padding: 2em 0 7em 0; }

main .section-content {
  max-width: 1000px;
  /*    margin-bottom: 30px;*/
  margin-left: auto;
  margin-right: auto;
  padding: 1px 0;
  z-index: 150; }

main section#compentencies {
  background: linear-gradient(#113275, darkblue);
  color: white; }

section#about {
  -webkit-clip-path: polygon(0 0, 100% 10%, 100% 100%, 0 90%);
  clip-path: polygon(0 0, 100% 10%, 100% 100%, 0 90%); }

main section#experience {
  background-color: white;
  color: #205AA9; }

main section#first h1 {
  color: #FFB300; }

.unselectable {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none; }

.title {
  text-align: center; }

.seperator {
  -webkit-clip-path: polygon(0 0, 100% 10%, 100% 100%, 0 90%);
  clip-path: polygon(0 0, 100% 10%, 100% 100%, 0 90%); }
  .seperator .gigantic {
    margin: 1em auto 1em auto;
    max-width: 15em;
    font-size: 6.8em;
    font-weight: 400;
    line-height: 7rem;
    text-align: center;
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
    background-clip: text;
    background-size: cover;
    background-image: url("../img/text-bg.png"); }

footer {
  bottom: 0;
  background-color: #123561;
  color: white;
  position: relative;
  z-index: 4000;
  padding: 50px 0 10px 100px;
  text-align: center; }
  footer h1 {
    font-weight: 300; }
  footer h1,
  footer h2 {
    margin: 0 0 30px; }
  footer hl {
    font-weight: 400; }
  footer svg {
    max-height: 100px;
    fill: white; }
  footer a {
    color: white; }

.bio {
  margin-top: 10em; }

.bio-img-container img {
  max-width: 230px;
  height: auto;
  border: #e2e2e2 2px solid;
  margin-left: auto;
  margin-right: auto;
  display: block;
  margin-top: 17px; }

.dots {
  margin-bottom: 25px; }

.experience-text,
.experience-dot {
  display: inline-block; }

.process {
  padding: 50px;
  text-align: center; }
  .process .graphic,
  .process .text {
    display: inline-block;
    vertical-align: middle;
    margin: 0 10px 0 0;
    color: white; }

.hole {
  border-radius: 100px;
  position: relative;
  width: 30px;
  height: 30px;
  box-shadow: 4px 5px 7px -1px rgba(0, 24, 64, 0.43); }
  .hole.hole-1 {
    background-color: #FFB300; }
  .hole.hole-2 {
    background-color: #2971D4; }
  .hole.hole-3 {
    background-color: mediumseagreen; }

@media screen and (max-width: 1110px) {
  nav {
    width: 0; }
  main {
    padding-left: 0; }
  .skill-wapper svg {
    display: none; }
  .section-content {
    padding: 15px !important; }
  footer {
    padding-left: 0; } }

@media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
  header {
    display: none; } }

@media screen and (max-width: 768px) {
  header {
    display: none; }
  .gigantic {
    font-size: 2.8em !important; }
  .case {
    margin-bottom: 30px;
    margin-right: auto;
    margin-left: auto; }
  .view-animate-container {
    height: 1300px; } }
